@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
/******************************************

 Change values and compile your .less file
 This will generate your final .css file

******************************************/
/******************************************

  You dont need to edit the lines below

******************************************/
/**** GRID ****/
/* Very very simple, semantic and human friendly columns */
/* Column size */
#main-content {
  width: auto;
}
#column-one {
  width: 20%;
}
#column-two {
  width: 30%;
}
/* old fashion table layout */
#main {
  display: table;
  width: 100%;
}
#main-content,
#column-one,
#column-two {
  display: table-cell;
  vertical-align: top;
}
/* margin collumns */
#main-content {
  padding: 2%;
}
#column-one {
  padding: 2%;
}
#column-two {
  padding: 2%;
}
#portal-column-content {
  width: 100%;
  margin-left: -100%;
}
/**** Basic Styles ****/
.gradient {
  background: -webkit-linear-gradient(#ffffff, #f1f1f1);
  /* For Safari */

  background: -o-linear-gradient(#ffffff, #f1f1f1);
  /* For Opera 11.1 to 12.0 */

  background: -moz-linear-gradient(#ffffff, #f1f1f1);
  /* For Firefox 3.6 to 15 */

  background: linear-gradient(#ffffff, #f1f1f1);
  /* Standard syntax (must be last) */

}
.wrapper-size {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}
.shadow {
  box-shadow: 0 2px 3px #ccc;
}
.text-shadow {
  text-shadow: 1px 1px 2px #000000;
  -webkit-text-stroke: 1px #cccccc;
}
/********** Basic styles **********/
body {
  background: #ffffff url(img/background.jpg) no-repeat top center fixed;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
a:link,
a:visited,
#content a:link,
dl.portlet a:link {
  color: #1a3c45;
  border-bottom: none;
}
.state-published {
  color: #1a3c45 !important;
}
a:hover {
  color: #0c1c20;
}
#content a:hover,
dl.portlet a:hover {
  color: #0c1c20 !important;
}
.clear {
  clear: both;
}
/********** Main container **********/
#wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}
#main {
  background: #ffffff;
}
#user {
  float: right;
}
/********** Header **********/
#portal-personaltools {
  position: absolute;
}
/* area do topo */
header {
  background: #ffffff;
  color: #cccccc;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
}
header a:link,
header a:visited {
  color: #cccccc;
  text-decoration: none;
}
header a:hover {
  color: #000000;
}
/* banner */
#logo {
  width: 40%;
  float: left;
  padding: 1.5em 2em;
}
#logo a {
  font-family: 'Open Sans', sans-serif;
  color: #cccccc;
  font-size: 4em;
  font-weight: bold;
  line-height: 1em;
}
#logo img {
  float: left;
  margin: 0.2em 1em 0.2em 0;
  max-height: 200px;
}
/* search */
#portal-searchbox {
  width: 45%;
  float: right;
  text-align: right;
  padding: 5em 3em 1em 0;
}
#portal-searchbox input.searchField {
  border: 1px solid #ccc;
  padding: 0.5em 0.2em 0.5em 0.2em;
}
#portal-searchbox input.searchButton {
  padding: 0.5em;
}
/* Navigation */
nav {
  color: #ffffff;
  clear: both;
  margin-top: 2.2em;
}
nav ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
}
nav li {
  display: table-cell;
  margin-left: 1px;
  height: 6em;
  vertical-align: bottom;
  background: #ff0000;
  border-right: 1px solid #ffffff;
  width: 100%;
}
nav li a:link {
  font-size: 90%;
  text-decoration: none;
  display: block;
  padding: 1em 0.5em 0.5em 0.5em;
}
nav li:last-child {
  border: none;
  padding-right: 0;
}
nav li a:link,
nav li a:visited {
  color: #ffffff;
}
nav li a:hover {
  color: #ffffff;
}
nav ul li:nth-child(1) {
  background: #464646;
}
nav ul li:nth-child(2) {
  background: #473f94;
}
nav ul li:nth-child(3) {
  background: #0291d5;
}
nav ul li:nth-child(4) {
  background: #83c420;
}
nav ul li:nth-child(5) {
  background: #f38003;
}
nav ul li:nth-child(6) {
  background: #d90013;
}
nav ul li:nth-child(7) {
  background: #d92e8c;
}
/********** Content **********/
/* breadcrumb */
#portal-breadcrumbs {
  font-size: 80%;
  clear: both;
  color: #fff;
}
#portal-breadcrumbs a,
.breadcrumbSeparator {
  color: #fff;
}
.section-front-page #portal-breadcrumbs {
  display: none;
}
/* text styles */
p {
  line-height: 1.4em;
  font-family: arial, helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
h1 {
  color: #464646;
  border: none;
  margin-bottom: 0.6em;
  margin-top: 0;
  font-size: 2.5em;
  line-height: 1em;
}
h2 {
  color: #464646;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}
#content .documentDescription,
#content #description {
  color: #4d4d4d;
  font-weight: normal;
  margin-bottom: 1em;
}
/********** Tiles **********/
.tile img {
  max-width: 100%;
  height: auto;
}
/* galeria */
.cover-carousel-tile {
  margin-bottom: 2em;
}
.galleria-stage {
  top: 0;
  left: 0;
  right: 0;
}
.galleria-info-text {
  padding: 0;
}
.galleria-info-title {
  font: bold 2em/1.1 'Open Sans', sans-serif;
  font-weight: normal;
}
.galleria-info-description {
  font: normal 1em/1.4 arial, helvetica, sans-serif;
  margin: 0;
  color: #333333;
}
/*********** Portlets ***********/
/* general styles */
.portletHeader,
dl.portlet dt.portletHeader {
  border-bottom: #d9d9d9 1px solid;
  font-weight: bold;
  background: transparent;
  color: #464646;
}
.portletHeader a,
dl.portlet dt.portletHeader a {
  color: #464646;
}
.portlet {
  margin-bottom: 2em;
  padding: 4px 0;
}
/* lists inside columns */
aside dl,
aside dd,
aside ul {
  padding: 0;
  margin: 0;
}
aside a {
  text-decoration: none;
}
/* portlet navigation */
.portletNavigationTree ul {
  margin: 0;
}
.portletNavigationTree li {
  list-style-position: inside;
}
.portletNavigationTree .navTreeLevel0 > li {
  border-bottom: #d9d9d9 1px solid;
  list-style: none;
}
.portletNavigationTree a {
  display: block;
  padding: 0.3em 0.3em 0.3em 0.5em;
}
.portletNavigationTree a:hover {
  background: #f2f2f2;
}
.navTreeLevel2 a {
  padding-left: 1em;
}
.navTreeLevel3 a {
  padding-left: 2em;
}
.navTreeLevel4 a {
  padding-left: 3em;
}
.navTreeLevel5 a {
  padding-left: 4em;
}
.navTreeLevel6 a {
  padding-left: 5em;
}
/********** Config bugs *************/
.label,
.badge {
  color: #333333;
  text-shadow: 0;
  background-color: transparent;
}
.label:empty,
.badge:empty {
  display: inline;
}
/********** Footer **********/
footer {
  background: #ffffff;
  padding: 2em 2em 0 2em;
  font-size: 80%;
  border-top: 1px solid #ccc;
}
footer p {
  margin-bottom: 2em;
}
#footer-info {
  padding-top: 10px;
}
#portal-siteactions {
  text-align: left;
}
/**** RESPONSIVE ***/
#btnav i {
  display: none;
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #main {
    margin-top: 4em;
  }
  #logo {
    float: right;
  }
  #portal-breadcrumbs {
    display: none;
  }
  #main-header {
    height: 45px;
  }
  #logo a img {
    margin-top: 5px;
    width: 2em;
  }
  #btnav {
    background: transparent url(img/btmenu.jpg) no-repeat 0 0;
    width: 153px;
    height: 40px;
    display: block;
    top: 0;
    position: absolute;
  }
  #btnav ul {
    display: none;
  }
  div:hover#btnav ul {
    padding-top: 10px;
    display: block;
    top: 40px;
    position: absolute;
    background: #ff0000;
  }
  div:hover#btnav ul li a {
    padding: 10px;
  }
  #btnav i {
    display: block;
    font-size: 2em;
    padding-top: 10px;
  }
  header > div {
    width: 93%;
  }
  #main-content,
  #column-one,
  #column-two {
    display: block;
    float: none;
    width: 100%;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  
}
